<h1>
  <%= link_to @cardset.name, @cardset %>: Add details page
</h1>
<% @title = "#{@cardset.name}: Add details page" %>

<%= render 'cardsets/setviews' %>

<p>You can use details pages to provide extra information about your cardset.  You might like to provide pages such as
"Mechanics", "Flavour", "FAQ", "Design Principles", or whatever you like!</p>

<%= render 'form' %>

