<h1><%= link_to_comment @comment %>: Editing comment</h1>
<div class="big_comment_form">
<% if @comment.cardset %>
  <% @title = @cardset.name + ": Editing comment" %>
  <%= render "shared/cardset_comment_form" %>
<% else %>
  <% @title = @card.printable_name + ": Editing comment" %>
  <%= render "shared/card_comment_form" %>
<% end %>
</div>
