<h1>
  <%= @title = @cardset.name + ": Comment" %>
</h1>

<p><b>Post your comments on <%= @cardset.name %> here!</b></p>
<p>If your comments are on a small number of specific cards, they may
be better added to those cards. This is for comments on the set as a
whole.
<br>You can use <%= render :partial => 'shared/markdown_short' %>.
</p>
<%= render "shared/cardset_comment_form" %>