<p>
  Views:
    <%= link_to "Full cardlist", cardlist_cardset_path(@cardset) %> |
    <%= link_to "Visual spoiler", visualspoiler_cardset_path(@cardset) %> |
    <%= link_to "Plain text spoiler", export_cardset_path(@cardset) %> |
    <%= link_to "XML", export_cardset_path(@cardset) %>
</p>
