<h1>
  <%= link_to @cardset %>
</h1>

<h2>Export Cardset</h2>

<p>
  Choose a format to export the cardset as:
</p>

<%= link_to 'View cardlist in HTML', cardlist_cardset_path(@cardset) %> |
<%= link_to 'See other cardsets', cardsets_path %>
