<h1>
  <%= link_to @cardset.name, @cardset %>
</h1>

<p>Showing all <%= @cardset.cards.count %> cards
</p>
<table>
  <% @cardset.cards.each_slice(5) do |cards| %>
    <tr>
      <% cards.each do |@card| %>
        <td>
          <!-- %= link_to @card.name, @card % -->
          <%= render :partial => 'shared/prettycard', :locals => {:link => true} %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= render 'setviews' %>
