/***** Card display *****/

.card { width: 250px; height: 300px; border: 3px black ridge; text-align: left; margin-bottom: 5px; }
/* boxes */
.cardtitle { width: 190px; height: 30px; border: 1px black ridge; text-align: left; font-size: 12pt; font-weight: bold; }
.cardtypeline { width: 190px; border: 1px black ridge; text-align: left; font-size: 12pt; font-weight: bold; }
.cardtypeline td { height: 30px; }
.cardptline td { height: 30px;  }
.cardpt { width: 30px; height: 30px; border: 1px black ridge; text-align: center; font: 12pt bold; }
/* text */
.cardcost   { border: none; text-align: right; }
.cardrarity { border: none; text-align: center; margin-left: 4px; margin-right: 4px; width: 30px; }
.cardname   { border: none; text-align: left; }
.cardtype   { border: none; text-align: left; }
.cardart { width: 185px; height: 100px; border: 1px solid black; text-align: center; }
.cardtext { width: 185px; height: 130px; border: 1px solid black; text-align: left; font-size: 11pt; }

.attribution { text-align: right; margin-top: 0px; margin-bottom: 0px; margin-right: 10px; }

.minitext, .nameminitext  { font-size: 10pt; }
.microtext { font-size: 9pt; }
.nanotext  { font-size: 8pt; }
.condensedtypeline { font-size: 9pt; letter-spacing: -2px; }
.flavourtext { font-style: italic; margin-top: 4px; }
.microtext .flavourtext { margin-top: 2px; }

.common { background-color: #ffffff; }
.uncommon { background-color: #999999; }
.rare   { background-color: #e0d060; }
.mythic { background-color: #993333; color: #ffffff; }

.White { background-color: #fcf9f0; }
.White .cardpt, .White .cardtitle, .White .cardtypeline { background-color: #fffff9; }
.White .cardtext { background-color: #ffffff; }

.Blue { background-color: #5bf; }
.Blue .cardpt, .Blue .cardtitle, .Blue .cardtypeline { background-color: #cef; }
.Blue .cardtext { background-color: #f0faff; }

.Black { background-color: #333; }
.Black .cardpt, .Black .cardtitle, .Black .cardtypeline { background-color: #ddd; }
.Black .cardtext { background-color: #eee; }

.Red { background-color: #f76; }
.Red .cardpt, .Red .cardtitle, .Red .cardtypeline { background-color: #ffe7dc; }
.Red .cardtext { background-color: #ffefe9; }

.Green { background-color: #483; }
.Green .cardpt, .Green .cardtitle, .Green .cardtypeline { background-color: #dfd; }
.Green .cardtext { background-color: #efe; }

.Artifact { background-color: #d3e3e3; }
.Artifact .cardpt, .Artifact .cardtitle, .Artifact .cardtypeline { background-color: #eef3f3; }
.Artifact .cardtext { background-color: #f6fbfb; }

.Multicolour { background-color: #dd5; }
.Multicolour .cardpt, .Multicolour .cardtitle, .Multicolour .cardtypeline { background-color: #eeee99; }
.Multicolour .cardtext { background-color: #eec; }

.Land { background-color: #cb9; }
.Land .cardpt, .Land .cardtitle, .Land .cardtypeline { background-color: #f0e8e2; }
.Land .cardtext { background-color: #eee6df; }

.Land.red .cardpt, .Land.red .cardtitle, .Land.red .cardtypeline { background-color: #ffd7cc; }
.Land.red .cardtext { background-color: #f98; }

.Land.green .cardpt, .Land.green .cardtitle, .Land.green .cardtypeline { background-color: #dfd; }
.Land.green .cardtext { background-color: #cfc; }


/***** Card editing *****/

.flavourtextfield { font-style: italic;
                  width: 98%; }
.rulestextfield { width: 98%; }

