/***** Card display *****/
.blackborder, .silverborder, .whiteborder, .purpleborder {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border-width: 10px;
  border-style: solid; }

.blackborder {
  border-color: black; }

.silverborder {
  border-color: #a3a3a3; }

.purpleborder {
  border-color: #aa66ff; }

.whiteborder {
  border-color: black;
  border-width: 1px;
  padding: 9px; }

.whiteborder .card, .whiteborder .editborder_inner {
  border: 1px solid #888; }

.cardborder {
  width: 200px;
  min-height: 280px; }

.card {
  background: #0ff;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  position: relative;
  min-height: 275px;
  /* + 2px for some unknown reason */ }

.foil {
  position: absolute;
  top: 0px;
  background-image: url(/images/foil_highlight.png);
  width: 200px;
  height: 285px; }

.cardborder {
  position: relative; }

.banner {
  position: absolute;
  top: 40px;
  padding: 8px 0px;
  font-size: 20pt;
  background-color: #888;
  z-index: 4;
  width: 200px;
  text-align: center; }

.pinline_box {
  padding: 2px; }

.pinline_sides {
  padding-left: 2px;
  padding-right: 2px; }

.pinline_sidesbottom {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px; }

.pinline_box {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-border-radius: 6px / 12px;
  -webkit-border-radius: 6px 12px;
  -khtml-border-radius: 6px / 12px;
  border-radius: 6px / 12px; }

.pinline_box > div {
  border: 1px solid black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px / 8px;
  -webkit-border-radius: 4px 8px;
  -khtml-border-radius: 4px / 8px;
  border-radius: 4px / 8px;
  padding-left: 3px;
  padding-right: 3px; }

/* Left side outer */
.pinline_sides, .pinline_sidesbottom {
  border-left: 1px solid black; }

/* Left side inner */
.pinline_sides > div, .pinline_sidesbottom > div {
  border-left: none; }

/* Right side inner */
.pinline_sides > div, .pinline_sidesbottom > div {
  border-right: 1px solid black; }

/* Right side outer */
.pinline_sides, .pinline_sidesbottom {
  border-right: none; }

/* Bottom inner */
.pinline_sidesbottom > div {
  border-bottom: none; }

/* Bottom outer */
.pinline_sidesbottom {
  border-bottom: 1px solid black; }

/* .pinline_sides, .pinline_sides > div {
   border-left: 1px solid black; border-right: 1px solid black; }
.pinline_sidesbottom, .pinline_sidesbottom > div {
   border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; } */
.cardtitlebar, .cardtypebar {
  font: bold 9pt serif;
  padding-top: 1px;
  padding-bottom: 1px; }

.cardname {
  float: left;
  position: relative;
  z-index: 5;
  /* so that foils' names are still clickable */ }

.cardmanacost {
  float: right;
  padding-right: 3px; }

.cardart_container, .cardtext_container {
  background: inherit;
  padding-left: 4px;
  padding-right: 4px; }

.cardart {
  /*width: *; */
  min-height: 100px;
  text-align: center; }

.cardart img {
  height: 131px; }

.cardtypebar {
  padding-right: 0px !important;
  position: relative; }

.cardrarity {
  position: absolute;
  right: 0px;
  top: -1px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 2px;
  border: 1px solid black; }

@-moz-document url-prefix() {
  /* Firefox wants it just fractionally lower... */
  .cardrarity {
    top: -0.5px; } }

.cardtext {
  /*width: *; */
  min-height: 105px;
  padding: 2px; }

.cardtext br {
  margin-bottom: 0.25em; }

.cardtext .flavourtext br {
  margin-bottom: 0px; }

.cardtext div, .cardtext p {
  margin: 0px; }

.bottombox {
  background: inherit;
  margin-bottom: 4px;
  padding-right: 6px;
  position: relative;
  font: 8pt serif; }

.ptbox_container {
  float: right;
  position: relative;
  height: 10px;
  min-width: 25%; }

.pinline_ptbox {
  float: right;
  position: absolute;
  top: -7px;
  right: 0px;
  min-width: 80%;
  text-align: center;
  padding-right: 0px; }

.ptbox {
  min-width: 90%;
  font: 11pt serif;
  padding: 0px !important; }

.pinline_ptbox {
  border-right-color: #ccc;
  border-top-color: #ccc; }

.pinline_ptbox div {
  border-left-color: #ccc;
  border-bottom-color: #ccc; }

/* .manacost { align: right; } */
.cardtext {
  font-size: 9pt; }

.minitext, .nameminitext {
  font-size: 9pt; }

.microtext {
  font-size: 8pt; }

.nanotext {
  font-size: 7.5pt; }

.condensedtypeline {
  font-size: 8pt;
  letter-spacing: -2px; }

.flavourtext {
  font-style: italic;
  margin-top: .25em !important; }

.flavourtext i, .flavourtext em {
  font-style: normal; }

/* Mana symbol sizes */
.cardmanacost img {
  width: 14px;
  height: 14px;
  /*vertical-align: middle;*/ }

.cardtext img {
  height: 1em;
  vertical-align: middle; }

/*
.cardtext  img { width: 13px; height: 13px; vertical-align: middle; }
.minitext  img { width: 12px; height: 12px; }
.microtext img { width: 11px; height: 11px; }
.nanotext  img { width: 10px; height: 10px; } */
.cardrarity.common, .skeleton_letter_toggle.code_shown#rarity_C_toggle, .code_rarity_C td.code_link, .code_rarity_C td.code_link a, .cardrarity.token, .cardrarity.basic {
  color: #fff;
  background-color: #000; }

.uncommon, .skeleton_letter_toggle.code_shown#rarity_U_toggle, .code_rarity_U td.code_link {
  background: #ccc;
  background: -webkit-gradient(linear, right top, left bottom, from(#999999), color-stop(0.5, #ccd3d6), to(#999999));
  background: -moz-linear-gradient(right top, #999999, #ccd3d6, #999999); }

.rare, .skeleton_letter_toggle.code_shown#rarity_R_toggle, .code_rarity_R td.code_link {
  color: #000;
  background: #e0d060;
  background: -webkit-gradient(linear, right top, left bottom, from(#998044), color-stop(0.5, #e0d060), to(#998044));
  background: -moz-linear-gradient(right top, #998044, #e0d060, #998044); }

.mythic, .skeleton_letter_toggle.code_shown#rarity_M_toggle, .code_rarity_M td.code_link {
  color: #fff;
  background: #933;
  background: -webkit-gradient(linear, right top, left bottom, from(#aa4433), color-stop(0.5, #ee8866), to(#aa4433));
  background: -moz-linear-gradient(right top, #aa4433, #ee8866, #aa4433); }

/***** Planeswalkers *****/
.card.Planeswalker {
  padding-top: 0px;
  min-height: 277px; }

.Planeswalker .namebox {
  padding-top: 0px; }

.Planeswalker .pinline_box {
  -moz-border-radius: 8px 8px 12px 12px;
  -webkit-border-radius: 8px 8px 12px 12px;
  -khtml-border-radius: 8px 8px 12px 12px;
  border-radius: 8px 8px 12px 12px;
  -moz-border-radius: 8px 8px 2px 2px / 12px 12px 2px 2px;
  -webkit-border-radius: 8px 8px 2px 2px 12px 12px 2px 2px;
  -khtml-border-radius: 8px 8px 2px 2px / 12px 12px 2px 2px;
  border-radius: 8px 8px 2px 2px / 12px 12px 2px 2px; }

.Planeswalker .cardtitlebar, .Planeswalker .cardtypebar {
  -moz-border-radius: 8px 8px 12px 12px;
  -webkit-border-radius: 8px 8px 12px 12px;
  -khtml-border-radius: 8px 8px 12px 12px;
  border-radius: 8px 8px 12px 12px;
  -moz-border-radius: 8px 8px 2px 2px / 12px 12px 2px 2px;
  -webkit-border-radius: 8px 8px 2px 2px 12px 12px 2px 2px;
  -khtml-border-radius: 8px 8px 2px 2px / 12px 12px 2px 2px;
  border-radius: 8px 8px 2px 2px / 12px 12px 2px 2px; }

.Planeswalker .cardart_container .pinline_sides {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px / 42px;
  -webkit-border-radius: 4px 42px;
  -khtml-border-radius: 4px / 42px;
  border-radius: 4px / 42px; }

.Planeswalker .cardart {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  -moz-border-radius: 7px / 40px;
  -webkit-border-radius: 7px 40px;
  -khtml-border-radius: 7px / 40px;
  border-radius: 7px / 40px;
  border-right: 1px solid black;
  border-left: 1px solid white;
  min-height: 121px; }

.Planeswalker .cardtext {
  -moz-border-radius: 4px 4px 8px 8px;
  -webkit-border-radius: 4px 4px 8px 8px;
  -khtml-border-radius: 4px 4px 8px 8px;
  border-radius: 4px 4px 8px 8px;
  -moz-border-radius: 4px 4px 18px 18px / 8px 8px 12px 12px;
  -webkit-border-radius: 4px 4px 18px 18px 8px 8px 12px 12px;
  -khtml-border-radius: 4px 4px 18px 18px / 8px 8px 12px 12px;
  border-radius: 4px 4px 18px 18px / 8px 8px 12px 12px;
  /* 4 18 8 32 */
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 8px; }

.Planeswalker .cardtext_container .pinline_sidesbottom {
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -khtml-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 18px 18px / 0px 0px 16px 16px;
  -webkit-border-radius: 0px 0px 18px 18px 0px 0px 16px 16px;
  -khtml-border-radius: 0px 0px 18px 18px / 0px 0px 16px 16px;
  border-radius: 0px 0px 18px 18px / 0px 0px 16px 16px;
  /* 0 18 0 32 */
  padding-left: 16px; }

.Planeswalker .cardtext {
  position: relative;
  padding-top: 4px; }

.loyalty_container {
  position: relative; }

.loyalty {
  position: absolute;
  left: -34px;
  top: -2px;
  color: white;
  padding-top: 5px;
  padding-left: 1px;
  background-repeat: no-repeat;
  background-position: 3px 0px;
  width: 32px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 8pt;
  letter-spacing: -1px; }

.Planeswalker .cardtext br {
  margin-bottom: 5px; }

.loyalty.positive {
  background-image: url(/images/loyaltyup.png); }

.loyalty.neutral {
  background-image: url(/images/loyaltynaught.png);
  padding-top: 3px; }

.loyalty.negative {
  background-image: url(/images/loyaltydown.png); }

.Planeswalker .pinline_ptbox.pinline {
  border: none;
  background: none !important;
  padding-right: 2px;
  top: -16px;
  right: -4px; }

.Planeswalker .pinline_ptbox .ptbox {
  background: none !important;
  background-image: url(/images/loyalty.png) !important;
  background-repeat: no-repeat !important;
  border: none;
  color: white !important;
  height: 40px;
  width: 40px;
  position: absolute;
  padding-top: 4px !important; }

.Planeswalker .bottombox {
  position: relative;
  margin: 0 auto;
  text-align: left; }

.Planeswalker .artist {
  font-size: 7pt;
  position: absolute;
  width: 80%;
  left: 15%;
  top: -2px;
  padding-left: 20px;
  -moz-border-radius: 30px 30px 12px 12px;
  -webkit-border-radius: 30px 30px 12px 12px;
  -khtml-border-radius: 30px 30px 12px 12px;
  border-radius: 30px 30px 12px 12px;
  -moz-border-radius: 30px 30px 0px 0px / 12px 12px 0px 0px;
  -webkit-border-radius: 30px 30px 0px 0px 12px 12px 0px 0px;
  -khtml-border-radius: 30px 30px 0px 0px / 12px 12px 0px 0px;
  border-radius: 30px 30px 0px 0px / 12px 12px 0px 0px; }

.blackborder .Planeswalker .artist {
  color: white;
  background: black; }

.whiteborder .Planeswalker .artist {
  color: black;
  background: white; }

.silverborder .Planeswalker .artist {
  color: black;
  background: #a3a3a3; }

.purpleborder .Planeswalker .artist {
  color: white;
  background: #aa66ff; }

.Planeswalker .powerfield#card_power {
  width: 0px; }

/***** Tokens *****/
.token .cardtext {
  min-height: 0px; }

.token .cardtext_container.notext {
  padding: 0px;
  display: none; }

.token.card {
  height: 262px; }

.token.card.form {
  height: inherit; }

.token .cardname, .token .cardname a {
  color: #ba8;
  text-shadow: #ffff99 1px -1px; }

.token .cardname {
  float: none;
  display: inline;
  padding-right: 2px;
  /* to balance the text-shadow */ }

.token .cardtitlebar {
  background-color: #000 !important;
  background: #000 !important;
  text-align: center; }

.token .cardtitlebar label {
  color: #fff; }

.token .cardmanacost {
  display: none; }

.token .pinline.namebox {
  background: #ba8;
  border-top: 1px solid #ff9;
  padding-top: 1px;
  /* width: 120px; */
  margin: auto; }

.token.form .pinline.namebox {
  width: inherit; }

.token .cardtitlebar {
  border-bottom: 1px solid #ff9; }

.token .cardart {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
  -moz-border-radius: 50px / 30px;
  -webkit-border-radius: 50px 30px;
  -khtml-border-radius: 50px / 30px;
  border-radius: 50px / 30px;
  border-right: 1px solid black;
  border-left: 1px solid white;
  height: 100%;
  min-height: 175px; }

.token .cardart_container .pinline_sides {
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  -khtml-border-radius: 45px;
  border-radius: 45px;
  -moz-border-radius: 45px / 32px;
  -webkit-border-radius: 45px 32px;
  -khtml-border-radius: 45px / 32px;
  border-radius: 45px / 32px;
  border-left: 1px solid black;
  border-top: 1px solid white;
  border-bottom: 1px solid black;
  padding-left: 2px;
  padding-right: 3px;
  height: 100%; }

.token .cardart_container {
  -moz-border-radius: 44px;
  -webkit-border-radius: 44px;
  -khtml-border-radius: 44px;
  border-radius: 44px;
  -moz-border-radius: 44px / 32px;
  -webkit-border-radius: 44px 32px;
  -khtml-border-radius: 44px / 32px;
  border-radius: 44px / 32px; }

/***** Colours *****/
.Colourless.card, .Colourless .cardart {
  background-color: #ccc6cc; }

.Colourless .pinline {
  background-color: #ddd; }

.Colourless .cardtitlebar, .Colourless .cardtypebar {
  background-color: #eee9ee; }

.Colourless .cardtext, .Colourless .pinline_ptbox {
  background: #f2ecf2 !important; }

/* #195D7E; */
.Artifact .pinline {
  background-color: #eee; }

.Artifact .pinline_ptbox {
  background-color: #9CB7BE; }

.Artifact .ptbox {
  background-color: #A8BFC7; }

.Artifact .cardtitlebar, .Artifact .cardtypebar {
  background: #B0C4C8;
  background: -webkit-gradient(linear, left top, left bottom, from(#b0c4c8), color-stop(0.5, #d2d7db), to(#b0c4c8));
  background: -moz-linear-gradient(top, #b0c4c8, #d2d7db, #b0c4c8); }

.Artifact .cardtext, .Artifact .pinline_ptbox {
  background-color: #d5dde0; }

.Artifact, .Artifact .cardart {
  background-color: #ABC1CE; }

.Coloured_Artifact {
  background: #ABC1CE !important; }

.White.card, .White .cardart {
  background-color: #fbf9ea; }

.White .pinline, .Land.white .pinline {
  background-color: #f2efea; }

.White .cardtitlebar, .White .cardtypebar {
  background-color: #fffff9; }

.White .cardtext, .White .pinline_ptbox {
  background: white !important; }

.Blue.card, .Blue .cardart {
  background-color: #63acda;
  /* #5bf; */ }

.Blue .pinline, .Land.blue .pinline {
  background-color: #197d9e; }

.Blue .cardtitlebar, .Blue .cardtypebar {
  background-color: #c5dadf;
  background: -webkit-gradient(linear, left top, right top, from(#b7ceda), color-stop(0.5, #c8dce4), to(#b7ceda));
  background: -moz-linear-gradient(left, #b7ceda, #c8dce4, #b7ceda); }

.Blue .cardtext, .Blue .pinline_ptbox {
  background: #e1eced !important; }

.Black.card, .Black .cardart {
  background-color: #444444; }

.Black .pinline, .Land.black .pinline {
  background-color: #333333; }

.Black .cardtitlebar, .Black .cardtypebar {
  background-color: #bbb7b7; }

.Black .cardtext, .Black .pinline_ptbox {
  background: #ddd9d3 !important; }

.Red.card, .Red .cardart {
  background-color: #e0664f;
  /* #f76; */ }

.Red .pinline, .Land.red .pinline {
  background-color: #c23d34; }

.Red .cardtitlebar, .Red .cardtypebar {
  background-color: #f9d5c0; }

.Red .cardtext, .Red .pinline_ptbox {
  background: #f7e6de !important; }

.Green.card, .Green .cardart {
  background-color: #7ea17e;
  /* #6b7 */ }

.Green .pinline, .Land.green .pinline {
  background-color: #448833; }

.Green .cardtitlebar, .Green .cardtypebar {
  background-color: #ccddcc; }

.Green .cardtext, .Green .pinline_ptbox {
  background: #deeade !important;
  /* #efe; */ }

.Multicolour, .Multicolour .cardart {
  background-color: #cab86c;
  /*#DAC87C;*/ }

.Multicolour .pinline, .Land.multicolour .pinline {
  background-color: #eAd88C;
  /* #C6AF71;*/ }

.Multicolour .cardtitlebar, .Multicolour .cardtypebar, .Land.multicolour .cardtitlebar, .Land.multicolour .cardtypebar {
  background-color: #DAC87C;
  background: -webkit-gradient(linear, left top, right top, from(#b9a566), color-stop(0.5, #dbc68f), to(#b9a566));
  background: -moz-linear-gradient(left, #b9a566, #dbc68f, #b9a566); }

.Multicolour .cardtext, .Land.multicolour .cardtext {
  background-color: #ffffdd; }

.Multicolour .pinline_ptbox {
  background: #C6AF71 !important; }

.Multicolour .ptbox {
  background: #C6AF71 !important; }

.Land, .Land .cardart {
  background-color: #b9aea2; }

.Land .pinline {
  background-color: #d7cdbf; }

.Land .cardtitlebar, .Land .cardtypebar {
  background-color: #d8cfc8; }

.Land .cardtext, .Land .pinline_ptbox {
  background-color: #d8cfc8;
  /* #eee6df; */ }

.Land.white .cardtitlebar, .Land.white .cardtypebar {
  background-color: #fffff6; }

.Land.white .cardtext, .Land.white .pinline_ptbox {
  background-color: #ffffcc; }

.Land.blue .cardtitlebar, .Land.blue .cardtypebar {
  background-color: #afcfff; }

.Land.blue .cardtext, .Land.blue .pinline_ptbox {
  background-color: #99c5ff; }

.Land.black .cardtitlebar, .Land.black .cardtypebar {
  background-color: #cfc9c3; }

.Land.black .cardtext, .Land.black .pinline_ptbox {
  background-color: #bbbbbb; }

.Land.red .cardtitlebar, .Land.red .cardtypebar {
  background-color: #ffd0c0; }

.Land.red .cardtext, .Land.red .pinline_ptbox {
  background-color: #ff9988; }

.Land.green .cardtitlebar, .Land.green .cardtypebar {
  background-color: #ddffdd; }

.Land.green .cardtext, .Land.green .pinline_ptbox {
  background-color: #ccffcc; }

/* .Land.whiteblue .cardtitlebar, .Land.whiteblue .cardtypebar { @include gradient_horz($Land_White_Bar, $Land_Blue_Bar); } */
.Land.whiteblue .pinline {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2efea', endColorstr='#197d9e', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#f2efea), color-stop(0.4, #f2efea), color-stop(0.6, #197d9e), to(#197d9e));
  background: -moz-linear-gradient(left, #f2efea, #f2efea, #197d9e, #197d9e); }

.Land.whiteblue .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffcc', endColorstr='#99c5ff', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ffffcc), color-stop(0.4, #ffffcc), color-stop(0.6, #99c5ff), to(#99c5ff));
  background: -moz-linear-gradient(left, #ffffcc, #ffffcc, #99c5ff, #99c5ff); }

.whiteblue .pinline {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2efea', endColorstr='#197d9e', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#f2efea), color-stop(0.4, #f2efea), color-stop(0.6, #197d9e), to(#197d9e));
  background: -moz-linear-gradient(left, #f2efea, #f2efea, #197d9e, #197d9e); }

.whiteblack .pinline {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2efea', endColorstr='#333333', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#f2efea), color-stop(0.4, #f2efea), color-stop(0.6, #333333), to(#333333));
  background: -moz-linear-gradient(left, #f2efea, #f2efea, #333333, #333333); }

.blueblack .pinline {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#197d9e', endColorstr='#333333', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#197d9e), color-stop(0.4, #197d9e), color-stop(0.6, #333333), to(#333333));
  background: -moz-linear-gradient(left, #197d9e, #197d9e, #333333, #333333); }

.bluered .pinline {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#197d9e', endColorstr='#c23d34', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#197d9e), color-stop(0.4, #197d9e), color-stop(0.6, #c23d34), to(#c23d34));
  background: -moz-linear-gradient(left, #197d9e, #197d9e, #c23d34, #c23d34); }

.blackred .pinline {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#c23d34', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#333333), color-stop(0.4, #333333), color-stop(0.6, #c23d34), to(#c23d34));
  background: -moz-linear-gradient(left, #333333, #333333, #c23d34, #c23d34); }

.redgreen .pinline {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c23d34', endColorstr='#448833', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#c23d34), color-stop(0.4, #c23d34), color-stop(0.6, #448833), to(#448833));
  background: -moz-linear-gradient(left, #c23d34, #c23d34, #448833, #448833); }

.redwhite .pinline, .whitered .pinline {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c23d34', endColorstr='#f2efea', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#c23d34), color-stop(0.4, #c23d34), color-stop(0.6, #f2efea), to(#f2efea));
  background: -moz-linear-gradient(left, #c23d34, #c23d34, #f2efea, #f2efea); }

.blackgreen .pinline {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#448833', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#333333), color-stop(0.4, #333333), color-stop(0.6, #448833), to(#448833));
  background: -moz-linear-gradient(left, #333333, #333333, #448833, #448833); }

.greenwhite .pinline, .whitegreen .pinline {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#448833', endColorstr='#f2efea', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#448833), color-stop(0.4, #448833), color-stop(0.6, #f2efea), to(#f2efea));
  background: -moz-linear-gradient(left, #448833, #448833, #f2efea, #f2efea); }

.greenblue .pinline, .bluegreen .pinline {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#448833', endColorstr='#197d9e', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#448833), color-stop(0.4, #448833), color-stop(0.6, #197d9e), to(#197d9e));
  background: -moz-linear-gradient(left, #448833, #448833, #197d9e, #197d9e); }

.Land.whiteblue .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffcc', endColorstr='#99c5ff', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ffffcc), color-stop(0.4, #ffffcc), color-stop(0.6, #99c5ff), to(#99c5ff));
  background: -moz-linear-gradient(left, #ffffcc, #ffffcc, #99c5ff, #99c5ff); }

.Land.whiteblack .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffcc', endColorstr='#bbbbbb', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ffffcc), color-stop(0.4, #ffffcc), color-stop(0.6, #bbbbbb), to(#bbbbbb));
  background: -moz-linear-gradient(left, #ffffcc, #ffffcc, #bbbbbb, #bbbbbb); }

.Land.blueblack .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99c5ff', endColorstr='#bbbbbb', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#99c5ff), color-stop(0.4, #99c5ff), color-stop(0.6, #bbbbbb), to(#bbbbbb));
  background: -moz-linear-gradient(left, #99c5ff, #99c5ff, #bbbbbb, #bbbbbb); }

.Land.bluered .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99c5ff', endColorstr='#ff9988', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#99c5ff), color-stop(0.4, #99c5ff), color-stop(0.6, #ff9988), to(#ff9988));
  background: -moz-linear-gradient(left, #99c5ff, #99c5ff, #ff9988, #ff9988); }

.Land.blackred .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#ff9988', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#bbbbbb), color-stop(0.4, #bbbbbb), color-stop(0.6, #ff9988), to(#ff9988));
  background: -moz-linear-gradient(left, #bbbbbb, #bbbbbb, #ff9988, #ff9988); }

.Land.blackgreen .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#ccffcc', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#bbbbbb), color-stop(0.4, #bbbbbb), color-stop(0.6, #ccffcc), to(#ccffcc));
  background: -moz-linear-gradient(left, #bbbbbb, #bbbbbb, #ccffcc, #ccffcc); }

.Land.redgreen .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9988', endColorstr='#ccffcc', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ff9988), color-stop(0.4, #ff9988), color-stop(0.6, #ccffcc), to(#ccffcc));
  background: -moz-linear-gradient(left, #ff9988, #ff9988, #ccffcc, #ccffcc); }

.Land.redwhite .cardtext, .Land.whitered .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9988', endColorstr='#ffffcc', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ff9988), color-stop(0.4, #ff9988), color-stop(0.6, #ffffcc), to(#ffffcc));
  background: -moz-linear-gradient(left, #ff9988, #ff9988, #ffffcc, #ffffcc); }

.Land.greenwhite .cardtext, .Land.whitegreen .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffcc', endColorstr='#ffffcc', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ccffcc), color-stop(0.4, #ccffcc), color-stop(0.6, #ffffcc), to(#ffffcc));
  background: -moz-linear-gradient(left, #ccffcc, #ccffcc, #ffffcc, #ffffcc); }

.Land.greenblue .cardtext, .Land.bluegreen .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffcc', endColorstr='#99c5ff', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ccffcc), color-stop(0.4, #ccffcc), color-stop(0.6, #99c5ff), to(#99c5ff));
  background: -moz-linear-gradient(left, #ccffcc, #ccffcc, #99c5ff, #99c5ff); }

.Hybrid.whiteblue {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9ea', endColorstr='#63acda', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#fbf9ea), color-stop(0.4, #fbf9ea), color-stop(0.6, #63acda), to(#63acda));
  background: -moz-linear-gradient(left, #fbf9ea, #fbf9ea, #63acda, #63acda); }

.Hybrid.whiteblack {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9ea', endColorstr='#444444', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#fbf9ea), color-stop(0.4, #fbf9ea), color-stop(0.6, #444444), to(#444444));
  background: -moz-linear-gradient(left, #fbf9ea, #fbf9ea, #444444, #444444); }

.Hybrid.blueblack {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63acda', endColorstr='#444444', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#63acda), color-stop(0.4, #63acda), color-stop(0.6, #444444), to(#444444));
  background: -moz-linear-gradient(left, #63acda, #63acda, #444444, #444444); }

.Hybrid.bluered {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63acda', endColorstr='#e0664f', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#63acda), color-stop(0.4, #63acda), color-stop(0.6, #e0664f), to(#e0664f));
  background: -moz-linear-gradient(left, #63acda, #63acda, #e0664f, #e0664f); }

.Hybrid.blackred {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#e0664f', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#444444), color-stop(0.4, #444444), color-stop(0.6, #e0664f), to(#e0664f));
  background: -moz-linear-gradient(left, #444444, #444444, #e0664f, #e0664f); }

.Hybrid.blackgreen {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#7ea17e', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#444444), color-stop(0.4, #444444), color-stop(0.6, #7ea17e), to(#7ea17e));
  background: -moz-linear-gradient(left, #444444, #444444, #7ea17e, #7ea17e); }

.Hybrid.redgreen {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0664f', endColorstr='#7ea17e', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#e0664f), color-stop(0.4, #e0664f), color-stop(0.6, #7ea17e), to(#7ea17e));
  background: -moz-linear-gradient(left, #e0664f, #e0664f, #7ea17e, #7ea17e); }

.Hybrid.redwhite, .Hybrid.whitered {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0664f', endColorstr='#fbf9ea', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#e0664f), color-stop(0.4, #e0664f), color-stop(0.6, #fbf9ea), to(#fbf9ea));
  background: -moz-linear-gradient(left, #e0664f, #e0664f, #fbf9ea, #fbf9ea); }

.Hybrid.greenwhite, .Hybrid.whitegreen {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ea17e', endColorstr='#fbf9ea', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#7ea17e), color-stop(0.4, #7ea17e), color-stop(0.6, #fbf9ea), to(#fbf9ea));
  background: -moz-linear-gradient(left, #7ea17e, #7ea17e, #fbf9ea, #fbf9ea); }

.Hybrid.greenblue, .Hybrid.bluegreen {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ea17e', endColorstr='#63acda', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#7ea17e), color-stop(0.4, #7ea17e), color-stop(0.6, #63acda), to(#63acda));
  background: -moz-linear-gradient(left, #7ea17e, #7ea17e, #63acda, #63acda); }

.whiteblue .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e1eced', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(0.4, white), color-stop(0.6, #e1eced), to(#e1eced));
  background: -moz-linear-gradient(left, white, white, #e1eced, #e1eced); }

.whiteblack .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#ddd9d3', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(0.4, white), color-stop(0.6, #ddd9d3), to(#ddd9d3));
  background: -moz-linear-gradient(left, white, white, #ddd9d3, #ddd9d3); }

.blueblack .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1eced', endColorstr='#ddd9d3', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#e1eced), color-stop(0.4, #e1eced), color-stop(0.6, #ddd9d3), to(#ddd9d3));
  background: -moz-linear-gradient(left, #e1eced, #e1eced, #ddd9d3, #ddd9d3); }

.bluered .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1eced', endColorstr='#f7e6de', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#e1eced), color-stop(0.4, #e1eced), color-stop(0.6, #f7e6de), to(#f7e6de));
  background: -moz-linear-gradient(left, #e1eced, #e1eced, #f7e6de, #f7e6de); }

.blackred .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd9d3', endColorstr='#f7e6de', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ddd9d3), color-stop(0.4, #ddd9d3), color-stop(0.6, #f7e6de), to(#f7e6de));
  background: -moz-linear-gradient(left, #ddd9d3, #ddd9d3, #f7e6de, #f7e6de); }

.blackgreen .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd9d3', endColorstr='#deeade', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ddd9d3), color-stop(0.4, #ddd9d3), color-stop(0.6, #deeade), to(#deeade));
  background: -moz-linear-gradient(left, #ddd9d3, #ddd9d3, #deeade, #deeade); }

.redgreen .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7e6de', endColorstr='#deeade', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#f7e6de), color-stop(0.4, #f7e6de), color-stop(0.6, #deeade), to(#deeade));
  background: -moz-linear-gradient(left, #f7e6de, #f7e6de, #deeade, #deeade); }

.redwhite .cardtext, .whitered .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7e6de', endColorstr='white', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#f7e6de), color-stop(0.4, #f7e6de), color-stop(0.6, white), to(white));
  background: -moz-linear-gradient(left, #f7e6de, #f7e6de, white, white); }

.greenwhite .cardtext, .whitegreen .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#deeade', endColorstr='white', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#deeade), color-stop(0.4, #deeade), color-stop(0.6, white), to(white));
  background: -moz-linear-gradient(left, #deeade, #deeade, white, white); }

.greenblue .cardtext, .bluegreen .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#deeade', endColorstr='#e1eced', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#deeade), color-stop(0.4, #deeade), color-stop(0.6, #e1eced), to(#e1eced));
  background: -moz-linear-gradient(left, #deeade, #deeade, #e1eced, #e1eced); }

.Hybrid .cardtitlebar, .Hybrid .cardtypebar {
  background: #D2CCC0; }

.Hybrid .ptbox {
  background: #D2CCC0 !important; }

.Hybrid .pinline_ptbox, .Land .pinline_ptbox {
  background: #e2dCd0 !important; }

.Hybrid .cardart {
  background-color: #eeeeee; }

/***** Card editing *****/
#card_supertype, #card_cardtype, #card_subtype {
  width: 100px; }

#card_rarity {
  margin-top: 6px;
  margin-bottom: 6px; }

#card_power, #card_toughness {
  width: 20px; }

.flavourtextfield {
  font-style: italic;
  width: 98%; }

.rulestextfield {
  width: 98%; }

.art_url_field {
  width: 98%; }

.image_url_field, .edit_comment_field {
  width: 400px; }

form #raritycell {
  border: 1px solid black; }

.Planeswalker #power_field, .Planeswalker #pt_slash {
  display: none; }

.Planeswalker .notptbox {
  border: none;
  background-image: url(/images/loyalty_big.png);
  width: 80px;
  height: 41px;
  /* img is 51px high, minus the 10px top padding */
  padding: 10px 0px 0px 0px; }

.Planeswalker.form .pinline_ptbox.pinline {
  top: -36px; }

/***** Skeletons *****/
.code_frame_W {
  background-color: #ffffcc; }

.code_frame_U {
  background-color: #99c5ff; }

.code_frame_B {
  background-color: #bbbbbb; }

.code_frame_R {
  background-color: #ff9988; }

.code_frame_G {
  background-color: #ccffcc; }

.code_frame_A {
  background-color: #d5dde0; }

.code_frame_M, .code_frame_Z {
  background-color: #cab86c; }

.code_frame_H {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffcc', endColorstr='#bbbbbb', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ffffcc), color-stop(0.4, #ffffcc), color-stop(0.6, #bbbbbb), to(#bbbbbb));
  background: -moz-linear-gradient(left, #ffffcc, #ffffcc, #bbbbbb, #bbbbbb); }

.code_frame_L {
  background-color: #d8cfc8; }

.code_frame_W.code_not_shown,
.code_frame_U.code_not_shown,
.code_frame_B.code_not_shown,
.code_frame_R.code_not_shown,
.code_frame_G.code_not_shown,
.code_frame_A.code_not_shown,
.code_frame_H.code_not_shown,
.code_frame_M.code_not_shown, .code_frame_Z.code_not_shown,
.code_frame_L.code_not_shown {
  background-color: white;
  background: white; }
