/***** Site layout *****/

a > img { border: 0px; }

/***** Card display *****/

.card { width: 250px; height: 300px; border: 3px black ridge; text-align: left; margin-bottom: 5px; }
/* boxes */
.cardtitle { width: 190px; height: 30px; border: 1px black ridge; text-align: left; font-size: 12pt; font-weight: bold; }
.cardtypeline { width: 190px; border: 1px black ridge; text-align: left; font-size: 12pt; font-weight: bold; }
.cardtypeline td { height: 30px; }
.cardptline td { height: 30px;  }
.cardpt { width: 30px; height: 30px; border: 1px black ridge; text-align: center; font: 12pt bold; }
/* text */
.cardcost   { border: none; text-align: right; }
.cardrarity { border: none; text-align: center; margin-left: 4px; margin-right: 4px; width: 30px; }
.cardname   { border: none; text-align: left; }
.cardtype   { border: none; text-align: left; }
.cardart { width: 185px; height: 100px; border: 1px solid black; text-align: center; }
.cardtext { width: 185px; height: 130px; border: 1px solid black; text-align: left; font-size: 11pt; }

.attribution { text-align: right; margin-top: 0px; margin-bottom: 0px; margin-right: 10px; }

.minitext, .nameminitext  { font-size: 10pt; }
.microtext { font-size: 9pt; }
.nanotext  { font-size: 8pt; }
.condensedtypeline { font-size: 9pt; letter-spacing: -2px; }
.flavourtext { font-style: italic; margin-top: 4px; }
.microtext .flavourtext { margin-top: 2px; }

.common { background-color: #ffffff; }
.uncommon { background-color: #999999; }
.rare   { background-color: #e0d060; }
.mythic { background-color: #993333; color: #ffffff; }

.white { background-color: #fcf9f0; }
.white .cardpt, .white .cardtitle, .white .cardtypeline { background-color: #fffff9; }
.white .cardtext { background-color: #ffffff; }

.blue { background-color: #5bf; }
.blue .cardpt, .blue .cardtitle, .blue .cardtypeline { background-color: #cef; }
.blue .cardtext { background-color: #f0faff; }

.black { background-color: #333; }
.black .cardpt, .black .cardtitle, .black .cardtypeline { background-color: #ddd; }
.black .cardtext { background-color: #eee; }

.red { background-color: #f76; }
.red .cardpt, .red .cardtitle, .red .cardtypeline { background-color: #ffe7dc; }
.red .cardtext { background-color: #ffefe9; }

.green { background-color: #483; }
.green .cardpt, .green .cardtitle, .green .cardtypeline { background-color: #dfd; }
.green .cardtext { background-color: #efe; }

.artifact { background-color: #d3e3e3; }
.artifact .cardpt, .artifact .cardtitle, .artifact .cardtypeline { background-color: #eef3f3; }
.artifact .cardtext { background-color: #f6fbfb; }

.gold { background-color: #dd5; }
.gold .cardpt, .gold .cardtitle, .gold .cardtypeline { background-color: #eeee99; }
.gold .cardtext { background-color: #eec; }

.land { background-color: #cb9; }
.land .cardpt, .land .cardtitle, .land .cardtypeline { background-color: #f0e8e2; }
.land .cardtext { background-color: #eee6df; }

.redaligned .cardpt, .redaligned .cardtitle, .redaligned .cardtypeline { background-color: #ffd7cc; }
.redaligned .cardtext { background-color: #f98; }

.greenaligned .cardpt, .greenaligned .cardtitle, .greenaligned .cardtypeline { background-color: #dfd; }
.greenaligned .cardtext { background-color: #cfc; }

/***** Card editing *****/

.flavourtextfield { font-style: italic;
                  width: 98%; }
.rulestextfield { width: 98%; }

/***** Comment display *****/
li.comment > p { margin: 0px; }
