/***** Site layout *****/

a > img { border: 0px; }

.flash  { margin-left: 2px; width: 50%; }
.error  { color: #600; background-color: #f99; border: 1px solid #600; }
.notice { color: #00a; background-color: #bbf; border: 1px solid #00a; }

.infobox { float: right;
           border: 2px solid #666;
           margin-right: 10px;
           padding-left: 2px;
           padding-right: 2px;
           padding-top: 6px;
           padding-bottom: 6px;
           background-color: #eee; }
.infobox h1 { font-size: inherit;
              margin-top: 0px; }
.infobox p { margin: 2px; }

.cardcell { vertical-align: top;
            padding-top: 10px; }

.card_controls_below { text-align: center; }

.setviews { border: 1px solid #aaa;
             margin: 2px;
           padding: 6px;
           background-color: #eee; }

/***** Comment display *****/

.commentdetails { font-style: italic; margin: 0px; line-height: 2em; }
.commentbody    { margin-top: 0px; }

.commentlist    { margin-right: 60px; }

.compact p.commentbody { margin-bottom: 0px; }

li.recent_item { border-top: 1px solid black;
                 list-style: none;
                 margin-left: none;}

.comment.unaddressed { background-color: #fcc; }
.comment.highlighted { background-color: #ff9; }

.commentdetails img { vertical-align: middle; }
.commentdetails input { vertical-align: middle; }

form { display: inline; }

#comment_comment { height: 6em; width: 500px; }

ul.commentlist { margin-left: 20px; }

/***** Data import / export *****/

code { background-color: #eee; }
input#separator       { width: 2em; }
input#formatting_line { width: 600px; }
textarea#import_data  { width: 600px; height: 15em; }

p.plaintext_wrapper { white-space: pre;
                      font-family: monospace;
                      width: 600px; }

/***** Cardset details pages *****/

textarea#details_page_body { width: 1024px; height: 30em; }

/***** Cardset configuration *****/

div.helptext { font-size: smaller; margin: 0px; color: #888; }
div.config_section { margin: 4px; }
input#cardset_description { width: 30em; }