<span class="commentcount"><%= link_to_unless @embedded, pluralize(@card.comments.count, "comment"), @card
# Used to be "Comments (#{@card.comments.count})"
%><% if @card.comments.present? %><br><% if @card.comments.count > 1 %>last <% end %>
<% comment = @card.comments.reject{|c| c.nil?}.sort_by {|c| c.created_at}.last %>
<% if @embedded %>
  <%= format_datetime comment.created_at %>
<% else %>
  <%= format_datetime_absolute comment.created_at %>
<% end %> by <%= comment.display_user %> 
<% end %></span>