<span class="commentcount"><%= link_to_unless @embedded, pluralize(@card.comments.count, "comment"), @card
# Used to be "Comments (#{@card.comments.count})"
%></span>
<% if !@embedded && permission_to?(:edit, @cardset) %>
 | <%= link_to "Edit", edit_card_path(@card) %>
<% end %>