<% if signed_in_as_admin?(@cardset) %>
  <% commentclass = @comment.admin_status_string  %>
<% else %>
  <% commentclass = @comment.public_status_string  %>
<% end %>

<div class="comment <%= commentclass %>">
  <% if buttons %>
    <%= render :partial => 'shared/comment_buttons' %>
  <% end %>
  <div class="commentbody">
    <%= format_all_markup( @comment.body ) %>
  </div>
</div>
