<%= link_to_function "(formatting help)",
        visual_effect(:toggle_blind, :formatting_info, :duration => 0.5),
        :class => "no_tooltip"
%><div id="formatting_info" style="display: none;">
  Enter mana symbols like this: {2}{U}{U/R}{PR}, {T} becomes <%= format_mana_symbols("{2}{U}{U/R}{PR}, {T}") %>
  <br>You can use <%= link_to "Markdown", "http://stackoverflow.com/editing-help" %> such as _<i>italic</i>_, **<b>bold</b>**, ## headings ##
  <br>Link to [[[Official Magic card]]] or (((Card in Multiverse)))
  <br>Include [[image of official card]] or ((image or mockup of card in Multiverse))
  <br>Make hyperlinks like this: [text to show](destination url)
</div>