<%= link_to_function "(?)",
        visual_effect(:toggle_blind, :formatting_info, :duration => 0.5)
%><div id="formatting_info" style="display: none;">
  You can use <%= link_to "Markdown", "http://stackoverflow.com/editing-help" %> such as _<i>italic</i>_, **<b>bold</b>**, ## headings ##
  <br>Link to [[[Official Magic card]]] or (((Card in this cardset)))</div>
