<%= link_to_function "(formatting help)",
        visual_effect(:toggle_blind, :formatting_info, :duration => 0.5)
%><div id="formatting_info" style="display: none;">
  You can use <%= link_to "Markdown", "http://stackoverflow.com/editing-help" %> such as _<i>italic</i>_, **<b>bold</b>**, ## headings ##
  <br>Link to [[[Official Magic card]]] or (((Card in this cardset)))
  <br>Include [[image of official card]] or ((image or mockup of card in this cardset))
  <br>Make hyperlinks like this: [text to show](destination url)</div>
