<%
  update_date = Time.gm(2012,03,25,21,55,03);
  update_title = "Survey results";

news_latest_update = {
  :date => update_date,
  :title => update_title,
  :body => <<ENDBODY };


----
### #{update_title}
#### Sun Mar 25 21:55:03 2012

Thanks to all who filled in the survey! The results were interesting and useful. In summary:

* People don't like the new names I suggested. Most people prefer sticking with the name "Multiverse", although many people would be fine with "Planar Forge". There's a bit more discussion of further possible names on [this card](http://multiverse.heroku.com/cards/14156) if you're interested.
* The potential features all seem very popular :) Particularly highly rated were ways to play with your designed cards, either via export to MSE / MWS / Cockatrice / etc, or directly in Multiverse; and a personal watchlist to make it easier to follow the things you're interested in. In-Multiverse deckbuilding and playing would be fantastic, but it's a massive feature; I'll definitely bear in mind its popularity, but it won't be happening in the next couple of months. Personal watchlists and subscriptions, though, ought to be quite easily doable, so that'll be my highest priority. Multiple cardset admins and a better skeleton/cardlist were the next most highly rated options, and I'll be bearing those in mind as well.
* You guys also had a number of other good suggestions, such as hosting a forum on set design, a way to see the cards you created (in communal sets like Multiverse Design Challenge), profile pages, integration with Facebook and more. Many thanks.

I've just deployed fixes for a couple of bugs (skeleton generation should work better now) and a couple of very minor enhancements (tooltip previews of Multiverse cards show how many comments are on those cards; and the user list now shows join date and is sortable).

----
### Multiverse Wants Your Input!
#### Wed Mar 7 16:12:44 2012


I've put together a [survey](http://www.surveymonkey.com/s/H5LZGH8) about possible future directions for Multiverse. I'd really appreciate it if regular users and occasional users could fill in this survey: it'd help me greatly to understand where to direct my effort in future Multiverse development. It should only take a few minutes. So please [click this link to fill in the survey](http://www.surveymonkey.com/s/H5LZGH8)!


----
### January Update: Performance, Double-Faced Cards, Easier Card Links
#### Wed Jan 11 21:05:59 2012
The principal purpose in this Multiverse update is performance. I've put in a series of changes which should hopefully mean that the Recent Updates pages are much faster to load now, both for individual cardsets and for the site as a whole. My apologies for the performance problems previously.

But there are a couple of fun new features added too. One of them is that Multiverse now supports double-faced cards, such as _Innistrad_'s werewolves. They're multipart cards in the same category as split cards and flip cards, and they're created the same way: select the "Split / Flip / Double-Faced" option at the top of the "Frame" dropdown when editing a card, and then fill in the details for the front ("sun side") and back ("moon side"). Because most DFCs require a colour indicator, I've added support for that as well; and because cards like Transguild Courier and Ancestral Visions have errata to use a colour indicator, it's an option on all cards, not just DFCs.

The other notable new feature is that it's rather easier to make your comments link to cards now. Previously, the (((Cardname))) link syntax only worked for cards in the same cardset as the comment being posted. Now it'll work for cards anywhere in Multiverse, although it'll prefer those in the same cardset in case of conflict. There's also a way to link to a particular card uniquely, in a way that'll keep working even if the card's name and code both change. The syntax is (((C12345))), where 12345 is the ID of the card in question (the number visible in the card's URL). There are the natural double-paren versions of these link syntaxes as well.

Coming up in the next update: personal watchlists. That probably won't be until February or March though.

----
### November Update: Preview Button
#### Tue Nov 8 02:04:31 2011

My apologies for the reduced rate of updates! This is mainly just a bug-fix update. The one notable feature is the [Preview button](http://multiverse.heroku.com/cards/8533), which will let you get a proper view of precisely how your edits to a card will look. Useful for seeing whether your attempts to reduce the wordiness of a card have succeeded or not.

I've also added a ![(?)](http://multiverse.heroku.com/assets/mana/mana_question.png) mana symbol, entered as `{?}`, for cases such as [the recent design challenge](http://multiverse.heroku.com/cards/11011) which want a mana symbol that definitely doesn't appear on a printed card.

Other than that, it's just bug fixes, mainly making a few categories of cards look better in IE.

I do still plan to include support for [colour indicators](http://multiverse.heroku.com/cards/10393), [double-faced cards](http://multiverse.heroku.com/cards/10068), [custom symbols](http://multiverse.heroku.com/cards/8529), [individual watchlists](http://multiverse.heroku.com/cards/8570), and a revamped skeleton / cardlist view of a cardset, but I'm not getting so much time to update Multiverse these days. So those features may happen in 2011, or they may not.

----
### August Update: Watermarks, Expand Text, Token Art
#### Sun Aug 28 19:24:10 2011

The August update has gone up. Now you can add watermarks to your cards. This is particularly relevant for basic lands, where you can now give them the large mana symbol, but it also allows you to specify an image URL to be in the background of a particular card. (If you want to apply the same watermark to lots of cards, it's probably best to wait until the next update, which will allow you to define that in just one place.)

If you've ever come across a card whose card text is almost too small to read, now there's a way to cope. The individual card pages have an "Expand text" button below the card.

The visual spoiler and booster displays should now be rather nicer and more consistent. Art is properly supported on tokens now (in modern browsers), all card mockups are the same size, and the land frame is a bit prettier. 

----
### July Update: Split and Flip Cards, New Feedback Repository On-Site
#### Sun Jul 17 00:53:31 2011

Hi all! We have an exciting update for you: split and flip cards are now supported! When creating or editing a card, in the "Frame" dropdown you can select split or flip. The editing form should be pretty intuitive: note for flip cards there's a "Rotate" button at the bottom-left if you prefer not to type upside down :P This took a lot of work, but I believe split and flip cards are now supported across all of Multiverse, including cardlists, search results, hover tooltips, and mentioning via double- or triple-parenthesis links in comments. You can refer to a split card by either or both of its names: ((Fire)), ((Ice)) or ((Fire // Ice)) will all work. If you mention or link to a flip card's flipped side, the render will be appropriately rotated :)  
(As always, these cards won't display very well in Internet Explorer 8 or earlier. Please visit Multiverse in Chrome, Firefox, Safari, Opera, or IE 9+, as it looks so much better than in older IE versions!)

If you find any problems, please do let me know. In fact, there's now a great new way to let me know of any Multiverse bugs you find, and also suggest any feature that you feel is missing: the [Multiverse Feedback Repository](http://multiverse.heroku.com/cardsets/145). You can browse the [existing suggestions](http://multiverse.heroku.com/cardsets/145/visualspoiler), and if your issue isn't there, [add it!](http://multiverse.heroku.com/cards/new?cardset_id=145)

I've done a few other things in this update too. You can move cards from one cardset to another, assuming you have appropriate permissions on both. When you're editing a land card, Multiverse will have a good guess as to what colour affiliation that land has. I've fixed a few niggles with the tooltip images. And if you enter a URL directly rather than using the Markdown \[description\]\(url\) link syntax, the URL will be autolinked anyway.

Phew!

----

### June Update: Phyrexian Mana, Tooltips for Planes and Schemes, and Mechanic Card Lists
#### Sun Jun 19 18:56:40 2011

Hm, it's been a long time since I've updated Multiverse. This is actually quite a small update. Firstly, Phyrexian mana symbols are available. You can insert ![WP](http://multiverse.heroku.com/assets/mana/mana_pw.png), ![UP](http://multiverse.heroku.com/assets/mana/mana_pu.png) and friends into your cards' text, costs, and comments by typing \{WP\} or \(WP\), \{UP\} or \(UP\), and so on. Secondly, links and tooltips for _Archenemy_ schemes, _Planechase_ planes, and _Vanguard_ cards will now work, as in [the comment here](http://multiverse.heroku.com/cards/8219). And finally, cardsets with mechanics pages will now list and link to all the cards using the mechanic, [like this](http://multiverse.heroku.com/cardsets/32/mechanics).

----

### April Update: Anti-Spam Measures and Bug Fixes
#### Mon Apr 18 00:43:11 2011

I'd like to apologise for the large spam incursion this weekend. I've put in some anti-spam measures, and will be watching closely to see if any more spam comes in. If it does, I'll ratchet up the protection. I'll be trying to keep the site as smooth and usable for legitimate users as possible.

On that same principle, I've fixed a couple of bugs that were reported on the [Bugs and Features page](http://toothycat.net/wiki/wiki.pl?Multiverse/BugsAndFeatures). The skeleton generation for hybrid and gold cards should no longer create duplicate codes; and the "full cardlist" should now allow sorting by multiple columns - to view cards sorted by colour then cost, click the Cost column then the Colour column. (It looks like there are still a few problems with this. I've not had much time to work on the site recently, but I'll try to get this fixed.)

----

### New Features: More Mouseover Tooltips, Card History and Skeleton shown on Edit page
#### Thu Mar 10 01:13:25 2011

Two updates this week. The preview tooltips introduced last week are now no longer restricted to triple-bracket links in comments or details pages, but apply to any and all links to a card on Multiverse. This means that details pages like [the story of Liberia](http://multiverse.heroku.com/cardsets/78/comments#comment_4056) are now much more readable. You'll also get preview tooltips on a cardset's Recent Activity page for all the card links, and on links to a card in a different cardset such as [this one](http://multiverse.heroku.com/cards/5533#comment_4766).

I also implemented a couple of enhancements to the card editing page. You can now review the comments and history of a card from within the edit page - just click the "History" tab. And if your cardset has a skeleton, then an excerpt from the skeleton will be shown on the card edit page if the card code matches one in the skeleton.

----

### New Feature: Tooltip Card Images and Mockups
#### Wed Mar 2 01:41:50 2011
A nifty new enhancement went live today. Whenever you're looking at a comment or details page that includes links created with [[[triple brackets]]] or (((triple parens))), if you move your mouse cursor over the link, the target will pop up in a preview window. This works with links to printed Wizards cards in [[[triple square brackets]]], and links to other cards in the cardset in triple parens - in any of the three forms (((Card name))), (((CW01))) (card code), or (((-CW01))) (expand card code to show card name as well).

This means that discussions like [this one](http://multiverse.heroku.com/cards/2042) will be rather easier to follow. It means that [set skeletons](http://multiverse.heroku.com/cardsets/14/details_pages/29) will preview each card that exists (i.e. its code is not parenthesised) as you mouseover those codes. And it also means when you're posting a comment, if you name an existing card or a card in the same cardset, it's a really good idea to use the triple-bracket or triple-paren links, because it makes it much easier for people to follow what you're saying!

----

### New Feature: Front Page
#### Wed Feb 23 21:36:41 2011
A new feature today, for those of you who've been wanting to customise your cardset's first impressions. You can now create a details page called "Front Page", which won't display in the normal list of details pages; instead, it'll display at the top of your cardset's main page, just after the cardset description and before any highlighted comments. You can use this to show off some of your most interesting cards, by typing ((Cardname)) into the text of the details page. See [Clockwork Wings](http://multiverse.heroku.com/cardsets/32) for an example.

A few other minor tweaks have gone in too. Cardsets can have gold borders; recent changes lists display the time when they were generated (in your browser's time zone); skeletons have got a bit nicer; and there's a new type of link supported, which lets you link to a card in a way that'll display whatever the card's name is. You can add these links by using three parentheses and a dash, followed by the card's code: (((-CW01))).

----

### New Feature: Search
#### Tue Feb 15 02:29:10 2011
Just one update for this week, but it's a big one: Multiverse is now searchable! The top of each page has a "Search" box. Type into that the (whole or partial) name of a card or cardset, then press Enter, and you'll be taken straight to it! If you matched the name of several cards, it'll ask you which one you want.

You can also click the "Search" link at the top of each page to go to an Advanced Search page, for more precise searching on the contents of cards, cardsets, details pages, and even comments. Can't remember quite which card it was where you made a comment with a devastatingly witty reference to the Spanish Inquisition? Search for comments whose body includes "nobody expects" and you'll be there!

----

### New Feature: Card Edit Comments
#### Thu Feb 10 01:33:59
A quick mid-week update, to fix a couple of bugs and add a new feature, simple yet helpful: card edit comments. Whenever you edit a card, you have the opportunity to add a brief description of what you did; for example, "Reduced P/T and mana cost", or "Fixed ability as suggested by Bob". If you include such a comment, it'll be displayed in the card history.

The card edit page also now tells people how to insert Planeswalker loyalty symbols: it's `\[+1]`, `\[0]`, or `\[-X]`.

----

### New Feature: Card Contents Shrink-To-Fit, Edits Show in Card History
#### Tue Feb 8 01:01:37
The update this week is simple: your card text will now fit on your card.

No longer will your excessively-long cardnames push the mana cost out of the title bar, or the too-long type line disappear behind the rarity, or your overly-wordy text box stretch the card too much vertically. Now all these elements will be smoothly resized in your browser by a little Javascript. Even the ridiculously over-worded [Sienira's Facets](http://multiverse.heroku.com/cardsets/1) cards all fit, even if some of their [text boxes](http://multiverse.heroku.com/cards/222) or [type lines](http://multiverse.heroku.com/cards/1732) are still too dense for Wizards to actually print.

It won't carry it to excess. If you write an essay for each of your Planeswalker's abilities, it'll still stretch the card rather than reduce the font to smaller than 6 point text. But this should result in some rather nicer-looking cards, particularly in boosters and visual spoilers.

There are a few other tweaks that have gone in. Cards will now print properly from visual spoilers and suchlike. And a card's comment log now also includes where someone edited the card, so that you can see where the conversation was punctuated by an edit.

----
### New Features: Planeswalkers, Border Colour, Fuller Cardlist
#### Fri Jan 28 01:44:29
Several features that people have been asking for. First, planeswalker cards now have a much nicer mockup, with an approximation to the special planeswalker frame as used by Wizards of the Coast.

Cardsets can now have border colours other than black. The assorted silver-bordered sets of silliness can now have silver borders. Those of you making core sets may like to make your core set white-bordered, if you want. And someone might want a purple-bordered set... maybe.

The "full cardlist" page is now nicer to use. It includes the rules text of all cards. Clicking the "Colour" column will now sort cards in the order Colourless-White-Blue-Black-Red-Green-Multicolour-Hybrid-Artifact-Land. Clicking the "cost" column will now sort by converted mana cost. And you can now turn off some columns if you don't want to see them by default.

Finally, on a cardset's recent activity view, you can now mark comments as highlighted / unaddressed / normal, or go straight to the Edit Comment screen, without having to click through to the thing the comment was on. This was a feature requested by Vitenka on the [Feature Requests page](http://www.toothycat.net/wiki/wiki.pl?Multiverse/BugsAndFeatures), so I added it. If there's a feature you'd like to see, add it to the [Feature Requests page](http://www.toothycat.net/wiki/wiki.pl?Multiverse/BugsAndFeatures) and there's a good chance I'll do it!

----
### New Features: Set Skeletons and New Features List!
#### Sun Jan 23 09:26:00
Two new features for you this weekend! Firstly, I've added this New Features page, so that I've got a way to tell you when Multiverse supports some funky new capability. I've added the details and times for the past few updates, so take a look below: there may be something you missed.

Secondly, Multiverse now supports and generates Set Skeletons! These are a special type of details page that helps you plan the structure of your cardset. They may not be useful if you're just throwing a few cards together, but if you're designing a full cardset - especially one designed for Limited play - then a skeleton can be invaluable to help you plan and keep track of what representation you have in different colours and rarities of your mechanics, card types, or anything else. You can read more about skeletons in [Mark Rosewater's article "Design Skeletons"](http://www.wizards.com/magic/magazine/Article.aspx?x=mtg/daily/mm/78), and see some examples of in-progress set skeletons in [Arcunda](http://multiverse.heroku.com/cardsets/14/skeleton) and [Rallikar](http://multiverse.heroku.com/cardsets/49/skeleton).

----
### New Features: (((Card Code)))
#### Sat Jan 15 00:16:46

You can now include (((triple parenthesis links))) to card codes like CW01 that _don't exist yet_. Clicking on these links will take you to the card creation page, with the appropriate fields already filled in. This is useful for set skeletons such as those on [Arcunda](http://multiverse.heroku.com/cardsets/14/details_pages/29). I'm expecting to provide a way to generate these skeletons for any cardset within the week.

----
### New Features: Basic and Token Rarities, Supertypes Clearer
#### Mon Jan 10 02:00:51 2011

There are now two more options for card rarities: Basic and Token. These will each appear in the appropriate slot in the virtual boosters. If a cardset has any tokens, this means the booster will now be 16 cards. (If a cardset doesn't contain any basic cards, it'll just use a random basic land as it always did. If a cardset doesn't contain any tokens, the boosters will remain 15 cards rather than 16.) The token frame is quite flashy - check out [an example](http://multiverse.heroku.com/cards/2657) :)

I've also done some work on the card editing form, specifically the type line. The three text boxes were always meant to be supertype, type and subtype, but many people were using the leftmost one (supertype) for card types such as Creature or Artifact, and frankly I can't blame them. I've tried to make the interface a lot clearer: the type and subtype boxes are as they were, but the supertype box is now a supertype dropdown, with options for each of the current supertypes: Legendary, Basic, World and Snow. But if you want to combine multiple of those, or make up your own supertypes, there's another option in the dropdown, Custom, which will restore the free text entry supertype field. I'm hoping this will make it a lot easier for people to use Multiverse easily and correctly. I've gone through all the cards which had a card type (like Creature or Artifact) in the supertype box and fixed them up.

Finally, for those of you who use the CSV Import feature, if you encounter errors, those errors should in most cases be a bit more useful now.

----
### New Features: All Activity in Cardset Recent Activity
#### Sat Jan 8 01:06:34 2011

The new kinds of activity - deleting cards and comments, updating mechanics, and so on - now appear in the cardset recent activity list.

----
### New Features: Embed Images / Mockups with Double Brackets
#### Thu Jan 6 09:36:56 2011

I've finally introduced a feature I've always meant to add. The triple-bracket syntaxes for links to \\[\\[\\[printed cards]]] and (((cards in the same cardset))) were always designed to allow me to introduce **double**-bracket links. These will appear not as just a hyperlink, but embed the full image of the card into the comment or details page where you use them.

This lets you do some very cool things. On details pages you can include the mockups of several cards, to allow you to show examples, like [this](http://multiverse.heroku.com/cardsets/1/details_pages/1), and of course any embedded mockups like this will always show the latest state of the card. (This will also be useful when I let you embed a details page into the front page of your set, so that certain showcase cards are always shown off.) You can do these in comments too, such as [this one](http://multiverse.heroku.com/cards/1463#comment_1467), so that in certain cases where the substance of your comment would be enhanced by showing the text of a card, you can do that.

Those of you who visit [draw3cards.com](http://draw3cards.com) will note that the Markdown for embedding card links and card images is identical on Multiverse to how it is there, and that's of course deliberate.

----
### New Features: Recent Activity View
#### Mon Jan 3 00:36:34 2011

The "Cardsets" link at the top-centre of every Multiverse page has been replaced with a "Recent updates" link. This still shows you a list of all cardsets, but now they're sorted by how recently anything happened on the cardset. It shows you what the most recent activity was and who it was by. The time link (like "2 hours ago") goes to the list of *all* recent activity for the cardset in question, so you can see what all of the hot topics are in each cardset you're interested in.

The cardsets view is now sortable, so you can always still sort it alphabetically, or by number of cards in the cardset, or any of the other columns if you want. And a number of new types of activity are now being logged that didn't show up in recent activity logs before. Deleting cards/comments/details pages now shows up, although there's less information available on things that have been deleted. Creating, editing and deleting mechanics also shows up now.

----
### New Features: Bold and Italics in Card Text
#### Fri Dec 31 02:28:27 2010

For a long time I didn't have a way to provide italicised words in card text that weren't in parentheses. Normally  you don't need to, but for ability words such as "*Metalcraft* - ~ has +2/+2 as long as you control 3 or more artifacts", the ability word is properly in italics. Now you can do this, just the same way you'd make any other text in Multiverse italicised: surround it by asterisks or underscores, like `*Metalcraft*`. Similarly, flavour text is normally italicised, but if you want bits of it to not be italics, or to be in bold, you can do that too.

This isn't full Markdown support for card texts: there are assorted problems with that, and I don't think it's a good idea. But if there's any other formatting you want to be able to do in card text, let me know your use case and I'll give it some consideration.

----
### New Features: Export to CSV and Plain Text
#### Thu Dec 30 23:44:39 2010

The cardset Export page now has three types of export. The "plain text" spoiler is now *really* plain text - it arrives in MIME-type text/plain. The CSV is suitable for re-importing into Multiverse's Import page. And the XML probably won't be much use to most people, but it might be to someone. It's there, anyway.
ENDBODY
%>

<% if news_type == :link %>
  <% if news_latest_update[:date] > 1.days.ago %>
    <% news_class = "newfeatures hot" %>
  <% else %>
    <% news_class = "newfeatures" %>
  <% end %>
  <% if news_latest_update[:date] > 180.days.ago %>
    <div class="news_outer">
    <div class="<%= news_class %>">
      <%= link_to news_latest_update[:title], news_path %>
      <span class="helptext">(<%= format_datetime(news_latest_update[:date]) %>)</span>
    </div>&nbsp;
    </div>
  <% end %>
<% elsif news_type == :show %>
  <% text = RDiscount.new(news_latest_update[:body]).to_html.html_safe %>
  <%= text %>
<% end %>