<% @title = "About" %>
<h1>How do I use Multiverse?</h1>

<h3>As a visitor and commenter</h3>
<p>You can make valuable contributions to Multiverse without even creating an account. </p>
<ul>
<li><b>Read</b> through the cards that people have designed
<li><b>Comment</b> on the card designs on the individual pages for each card
<li><b>Give your thoughts</b> on highlighted comments: On the front page for each cardset, there may be highlighted comments, on which the set administrator would particularly like your comments.
<li><b>Contact set owners</b> if you're interested in playtesting a particular cardset
</ul>

<h3>As a set designer</h3>
If you
  <%= link_to_if !signed_in?, "create a user account", signup_path %> and <%= link_to_if !signed_in?, "sign in", signin_path %>, you can add your own custom cardsets to Multiverse. After <%= link_to "creating a cardset", new_cardset_path %>, you can:
<ul>
<li><b>Import data</b> from CSV format
<li><b>Add and edit cards</b> with a semi-WYSIWYG editor
<li><b>Record feedback</b> on individual cards
<li><b>Highlight comments</b> to solicit feedback from viewers
<li><b>Track</b> which comments have been addressed and which you still need to act on
<li><b>View and export</b> your cardset in plain text, visual spoiler, hyperlinked or XML formats
</ul>
<p>
<p></p>
