<h1><%= @title = "Feedback" %></h1>
<p>
  Found a bug? Got a cool new feature idea? Got a question?
</p>
<p>
  The best place to ask is on <a href="http://toothycat.net/wiki/wiki.pl?Multiverse/BugsAndFeatures">Multiverse's ToothyWiki page</a>. Simply edit the page to add your question or comment.
</p>
<p>
  Alternatively, you can contact <a href="mailto:alex.churchill@cantab.net">alex.churchill@cantab.net</a>
  about Multiverse.
</p>
