<h1><%= @title = "Feedback" %></h1>
<p>
  Found a bug? Got a cool new feature idea? Got a question?
</p>
<p>
 The best way to report bugs or suggest features is in the <a
href="http://multiverse.heroku.com/cardsets/145">Multiverse Feedback Repository</a>. <a href="http://multiverse.heroku.com/cards/new?cardset_id=145&colour=Red&cardype=Bug">Click here to report a
bug</a>, or <a href="http://multiverse.heroku.com/cards/new?cardset_id=145&colour=Blue&cardtype=Feature">click here to suggest a new feature</a>. You can <a href="http://multiverse.heroku.com/cardsets/145/cardlist">see the list of all
suggestions here</a>.
</p>
<p>
 If you don't want to use the Repository, you can also email Alex at
<a href="mailto:alex.churchill@cantab.net">alex.churchill@cantab.net</a>, or edit the <a
href="http://toothycat.net/wiki/wiki.pl?Multiverse/BugsAndFeatures">Multiverse
ToothyWiki page</a>: simply edit the page to add your question or comment.
</p>
<p>
<a href="humans.txt"><%= image_tag("humanstxt.gif") %></a>
</p>