<% @title = "Help" %>
<h2><a name="viewcomment"></a>How to use Multiverse: View and Comment on Cards</h2>
<p>You can view and comment on most cards without any form of
registration. Simply browse the set's cards, using the Visual Spoiler
or other views, and add your comments using the text box on each
card's page.</p>
<p>You can explore a cardset in a few ways:</p>
<ul><li><b>Visual Spoiler:</b> The easiest way to view the whole cardset
in one page.</li>
<li><b>Recent Activity:</b> Use this view to keep up-to-date with recent
comments and changes to cardsets you're interested in.</li>
<li><b>Full Cardlist:</b> This sortable view lets you sort the cards by
colour, rarity, type, number of comments, and so on, so you can find
cards you're particularly interested in.</li>
</ul>

<h2><a name="addcards"></a>How to use Multiverse: Add Cards</h2>
<p>There are two ways to get cards into Multiverse. You can either add
them one at a time using the New Card page, or import several cards at
once using the Import Data page.</p>
<h3>New Card</h3>
<p>The New Card page lets you specify each of the properties of a
card, in the place where you'd expect to find them on a card.</p>
<ul><li>The card's <b>name</b> goes in the box at the top-left.</li>
<li>The card's <b>mana cost</b> goes in the box at the top-right.
<br>Enter mana costs in any of these forms: <code>2WW</code>; <code>(2)(W)(W)</code>; <code>{2}{W}{W}</code>
</li>
<li>The card's <b>supertype, type and subtypes</b> go in the three
boxes at centre left.<br><b>Supertypes</b> are Legendary, Snow, or
Basic.
<br>Types are Creature, Artifact, Enchantment, Land, Sorcery, Instant,
Planeswalker, and Tribal.
<br>Subtypes are creature types such as Wizard, land types such as
Island, and so on.
<br>You can also enter the supertypes, types, and subtypes all in the
Type field (the second box). Multiverse will try to sensibly split
them. For example, if you enter "Legendary Creature - Goblin Warrior"
in the type field, the resulting card will have supertype Legendary,
type Creature, and subtypes Goblin Warrior.
<li>The card's <b>rarity</b> is selected from the drop-down at the
centre right. Currently available rarities are common, uncommon, rare
and mythic rare.</li>
<li>The card's <b>rules text</b> goes in the first large text box
below the type line and rarity.
<br>Any content in parentheses <code>()</code> will be displayed in italics.
<br>Certain abbreviations are expanded if entered in the text box:
<br><code>ETBs</code> becomes <code>enters the battlefield</code>
<br><code>UEOT</code> becomes <code>until end of turn</code>
<br><code>&nbsp;//&nbsp;</code> becomes a linebreak (you may also enter
linebreaks directly)
<br><code>~</code>, <code>~this~</code> and <code>CARDNAME</code>
become the card's name
</li>
<li>The card's <b>flavour text</b> goes in the second large text area,
below the rules text. The contents of this field will be in italics on
the card.</li>
<li>The card's <b>power, toughness and/or loyalty</b> go in the boxes
at bottom-right. Planeswalker loyalty should go in the toughness box
(the rightmost).</li>
</ul>
<p>You can also specify some other options for a card.</p>
<ul>
<li>If your card's frame is different to what would be deduced from
its mana cost &ndash; for example, cards such as Transguild Courier or
Hypergenesis that specify their colour &ndash; you can manually specify this
using the <b>frame</b> drop-down list. You should also use this to
colour the text box of a nonbasic land if it's affiliated with one or
two colours.</li>
<li>If your cardset uses a <b>code</b> for each card &ndash; such as
<code>CW01</code> &ndash; you can enter it in the Code field. If you don't
use this field, you can remove it in the cardset configuration
page.</li>
<li>If you want to store some cards in the cardset without having them
displayed in the visual spoiler, you can mark cards as
<b>inactive</b>. If you don't use this field, you can remove it in the
cardset configuration page.</li>
</ul>
<h3>Import Data</h3>
<p>You can add large numbers of cards to Multiverse at once by using
the Import Data page.</p>
<%= render 'shared/import_help' %>


<!--
<h2><a name="setoptions"></a>How to use Multiverse: Set Options</h2>
<p>Fish.</p>
-->