<h1><%= @title = "Spam Warning" %></h1>
<p>
  Sorry, your submission has been rejected. Non-signed-in users are not allowed to post external links.
</p>
<p>
  If you're a spammer, please go away.
</p>
<p>
  If you're not a spammer, we apologise for the inconvenience. Please <%= link_to "login", signin_path %> or <%= link_to "create an account", signup_path %> in order to post your links.
</p>
