<h1><%= @title = "Spam Warning" %></h1>
<p>
  Sorry, your submission has been rejected. Non-signed-in users are not allowed to post external links.
</p>
<p>
  If you're not a spammer, we apologise for the inconvenience. Please <%= link_to "log in", signin_path %> or <%= link_to "create an account", signup_path %> in order to post your links.
</p>
<p>
  If you are a spammer, please go away. Spam is not tolerated on Multiverse and is aggressively deleted.
</p>
