/* Navigation */

nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}
/*#nav{
  position:relative;
  width:820px;
  list-style:none;
  margin:0 auto;
  padding:0;
  list-style:none;
  font-size:1em;
}*/

/*nav ul {
  margin: 0;
  padding: 0;
}*/

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0em;
  vertical-align: top;
}

nav ul li.subsequent:before
{
  content: "| ";
  padding: 0px;
  margin: 0px;
}

nav a {
  font-weight: bold;
  color: #09c;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
}
nav a:visited {
  color: #09c;
}
ul.licious a{
  position:relative;
  z-index:999;
  font-weight:bold;
  margin:0;
  /*background:none;*/
  display:block;
  text-decoration:none;
  padding:5px;
  background:#f3f3f3;
  text-shadow:none;
}

nav a:hover {
  text-decoration: underline;
  color: #fff;
  background: #000;
}
ul.licious a:hover{
  position:relative;
  /*background:none;*/
}

li.drops_parent {
  text-align: right;
}

a.drops {
}

ul.licious {
  text-align:left;
  width:150px;
  /* font-size:.8em; */
  background:#444;
  margin:0;
  padding:0;
  position: relative;
    position:absolute;
  left:0px;
  /*top:28px;*/
}
/* ie
html>body ul.licious{
  position:absolute;
  top:18px;
} */

ul.licious li {
  position:relative;
  /* display: block;*/
  display:inline;
  margin:0;
  padding:0;
}