/* Edited with EditCSS */
/**** LINK-tag style sheet Card.css?1291334461 ****/

/***** Card display *****/

.card { width: 250px; height: 300px; border: 3px black ridge; text-align: left; margin-bottom: 5px; }
/* boxes */
.cardtitle { width: 190px; height: 30px; border: 1px black ridge; text-align: left; font-size: 12pt; font-weight: bold; }
.cardtypeline { width: 190px; border: 1px black ridge; text-align: left; font-size: 12pt; font-weight: bold; }
.cardtypeline td { height: 30px; }
.cardptline td { height: 30px;  }
.cardpt { width: 30px; height: 30px; border: 1px black ridge; text-align: center; font: 12pt bold; }
/* text */
.cardcost   { border: none; text-align: right; }
.cardrarity { border: none; text-align: center; margin-left: 4px; margin-right: 4px; width: 30px; }
.cardname   { border: none; text-align: left; }
.cardtype   { border: none; text-align: left; }
.cardart { 
/*width: 185px;*/ height: 100px; border: 1px solid black; text-align: center; }
.cardtext { /*width: 185px;*/ height: 130px; border: 1px solid black; text-align: left; font-size: 11pt; line-height: 99%; }
.cardtext br { margin-bottom: 0.25em; }

.pinline { background-color: #483; width: 100%; margin-left: 2px; margin-right: 2px; padding: 4px; }
.pinline_box { width: 100%;  background-color: #483; padding: 4px;}
.pinline_bottom { width: 100%;  background-color: #483; padding: 4px; }
.pinline_pad { width: 4px;  background-color: #483; padding: 12px; }

.cardart { backgrouand: #fff; height: 150px; }
.cardart img { height: 150px; }

.attribution { text-align: right; margin-top: 0px; margin-bottom: 0px; margin-right: 10px; }

.minitext, .nameminitext  { font-size: 10pt; }
.microtext { font-size: 9pt; }
.nanotext  { font-size: 8pt; }
.condensedtypeline { font-size: 9pt; letter-spacing: -2px; }
.flavourtext { font-style: italic; margin-top: 4px; }
.microtext .flavourtext { margin-top: 2px; }

.common {  color: #fff; 
  background-color: #000;}
.uncommon {  color: #000; 
  background-color: #999;
  background: -webkit-gradient(linear, right top, left bottom, #999,  #ccd3d6, #999);
  background: -moz-linear-gradient(right top, #999,  #ccd3d6, #999);
 }
.rare   {  color: #000; 
  background-color: #e0d060;
  background: -webkit-gradient(linear, right top, left bottom, #998044,  #e0d060, #998044);
  background: -moz-linear-gradient(right top, #998044,  #e0d060, #998044);
}
.mythic { color: #fff; 
  background-color: #933; 
  background: -webkit-gradient(linear, right top, left bottom, #a43,  #e86, #a43);
  background: -moz-linear-gradient(right top, #a43,  #e86, #a43);
}

.Colourless { background-color: #ccc6cc; }
.Colourless .cardpt, .Colourless .cardtitle, .Colourless .cardtypeline { background-color: #eee9ee; }
.Colourless .cardtext { background-color: #f2ecf2; }

.White { background-color: #fcf9f0; }
.White .cardpt, .White .cardtitle, .White .cardtypeline { background-color: #fffff9; }
.White .cardtext { background-color: #ffffff; }

.Blue { background-color: #5bf; }
.Blue .cardpt, .Blue .cardtitle, .Blue .cardtypeline { background-color: #cef; }
.Blue .cardtext { background-color: #f0faff; }

.Black { background-color: #333; }
.Black .cardpt, .Black .cardtitle, .Black .cardtypeline { background-color: #ddd; }
.Black .cardtext { background-color: #eee; }

.Red { background-color: #f76; }
.Red .cardpt, .Red .cardtitle, .Red .cardtypeline { background-color: #ffe7dc; }
.Red .cardtext { background-color: #ffefe9; }

.Green { background-color: #695; }
.Green .cardpt, .Green .cardtitle, .Green .cardtypeline { background-color: #dfd; }
.Green .cardtext { background-color: #efe; }

.Artifact { background-color: #d3e3e3; }
.Artifact .cardpt, .Artifact .cardtitle, .Artifact .cardtypeline { background-color: #eef3f3; }
.Artifact .cardtext { background-color: #f6fbfb; }

.Multicolour { background-color: #dd5; }
.Multicolour .cardpt, .Multicolour .cardtitle, .Multicolour .cardtypeline { background-color: #eeee99; }
.Multicolour .cardtext { background-color: #eec; }

.Land { background-color: #cb9; }
.Land .cardpt, .Land .cardtitle, .Land .cardtypeline { background-color: #f0e8e2; }
.Land .cardtext { background-color: #eee6df; }

.Land.white .cardpt, .Land.white .cardtitle, .Land.white .cardtypeline { background-color: #fffff6; }
.Land.white .cardtext { background-color: #ffc; }

.Land.blue .cardpt, .Land.blue .cardtitle, .Land.blue .cardtypeline { background-color: #afcfff; }
.Land.blue .cardtext { background-color: #99c5ff; }

.Land.black .cardpt, .Land.black .cardtitle, .Land.black .cardtypeline { background-color: #cfc9c3; }
.Land.black .cardtext { background-color: #bbb; }

.Land.red .cardpt, .Land.red .cardtitle, .Land.red .cardtypeline { background-color: #ffd0c0; }
.Land.red .cardtext { background-color: #f98; }

.Land.green .cardpt, .Land.green .cardtitle, .Land.green .cardtypeline { background-color: #dfd; }
.Land.green .cardtext { background-color: #cfc; }

.Land.multicolour .cardpt, .Land.multicolour .cardtitle, .Land.multicolour .cardtypeline { background-color: #eea; }
.Land.multicolour .cardtext { background-color: #ffd; }


.Land.whiteblue .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffdd', endColorstr='#99ccff', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ffd), to(#9cf));
  background: -moz-linear-gradient(left,  #ffd,  #9cf);
}
.Land.whiteblack .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffdd', endColorstr='#bbbbbb', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ffd), to(#bbb));
  background: -moz-linear-gradient(left,  #ffd,  #bbb);
}
.Land.blueblack .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99ccff', endColorstr='#bbbbbb', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#9cf), to(#bbb));
  background: -moz-linear-gradient(left,  #9cf,  #bbb);
}
.Land.bluered .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99ccff', endColorstr='#ff9988', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#9cf), to(#ff9988));
  background: -moz-linear-gradient(left,  #9cf,  #ff9988);
}
.Land.blackred .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#ff9988', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#bbb), to(#ff9988));
  background: -moz-linear-gradient(left,  #bbb,  #ff9988);
}
.Land.blackgreen .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#ccffcc', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#bbb), to(#cfc));
  background: -moz-linear-gradient(left,  #bbb,  #cfc);
}
.Land.redgreen .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9988', endColorstr='#ccffcc', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ff9988), to(#cfc));
  background: -moz-linear-gradient(left,  #ff9988,  #cfc);
}
.Land.whitered .cardtext { /* actually red>white */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9988', endColorstr='#ffffdd', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ff9988), to(#ffd));
  background: -moz-linear-gradient(left,  #ff9988,  #ffd);
}
.Land.bluegreen .cardtext {  /* actually green->blue */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffcc', endColorstr='#99ccff', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#cfc), to(#9cf));
  background: -moz-linear-gradient(left,  #cfc,  #9cf);
}
.Land.whitegreen .cardtext { /* actually green->white */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffcc', endColorstr='#ffffdd', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#cfc), to(#ffd));
  background: -moz-linear-gradient(left,  #cfc,  #ffd);
}


.Hybrid.whiteblue .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cceeff', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#cef));
  background: -moz-linear-gradient(left,  #fff,  #cef);
}
.Hybrid.whiteblack .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bbbbbb', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#bbb));
  background: -moz-linear-gradient(left,  #fff,  #bbb);
}
.Hybrid.blueblack .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cceeff', endColorstr='#bbbbbb', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#cef), to(#bbb));
  background: -moz-linear-gradient(left,  #cef,  #bbb);
}
.Hybrid.bluered .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cceeff', endColorstr='#ffd0c0', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#cef), to(#ffd0c0));
  background: -moz-linear-gradient(left,  #cef,  #ffd0c0);
}
.Hybrid.blackred .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#ffd0c0', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#bbb), to(#ffd0c0));
  background: -moz-linear-gradient(left,  #bbb,  #ffd0c0);
}
.Hybrid.blackgreen .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#ccffcc', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#bbb), to(#cfc));
  background: -moz-linear-gradient(left,  #bbb,  #cfc);
}
.Hybrid.redgreen .cardtext {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd0c0', endColorstr='#ccffcc', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ffd0c0), to(#cfc));
  background: -moz-linear-gradient(left,  #ffd0c0,  #cfc);
}
.Hybrid.whitered .cardtext { /* actually red>white */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd0c0', endColorstr='#ffffff', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ffd0c0), to(#fff));
  background: -moz-linear-gradient(left,  #ffd0c0,  #fff);
}
.Hybrid.bluegreen .cardtext {  /* actually green->blue */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffcc', endColorstr='#cceeff', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#cfc), to(#cef));
  background: -moz-linear-gradient(left,  #cfc,  #cef);
}
.Hybrid.whitegreen .cardtext { /* actually green->white */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffcc', endColorstr='#ffffff', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#cfc), to(#fff));
  background: -moz-linear-gradient(left,  #cfc,  #fff);
}


.Hybrid .cardpt, .Hybrid .cardtitle, .Hybrid .cardtypeline {
  background: #eeeeee;
}
.Hybrid .cardart {
  background-color: #eeeeee;
}

.Hybrid.whiteblue {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf9f0', endColorstr='#55bbff', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#fcf9f0), to(#5bf));
  background: -moz-linear-gradient(left,  #fcf9f0,  #5bf);
}
.Hybrid.whiteblue {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf9f0', endColorstr='#55bbff', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#fcf9f0), to(#5bf));
  background: -moz-linear-gradient(left,  #fcf9f0,  #5bf);
}
.Hybrid.whiteblack {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf9f0', endColorstr='#111111', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#fcf9f0), to(#111));
  background: -moz-linear-gradient(left,  #fcf9f0,  #111);
}
.Hybrid.blueblack {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55bbff', endColorstr='#333333', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#5bf), to(#333));
  background: -moz-linear-gradient(left,  #5bf,  #333);
}
.Hybrid.bluered {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55bbff', endColorstr='#ff7766', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#5bf), to(#ff7766));
  background: -moz-linear-gradient(left,  #5bf,  #ff7766);
}
.Hybrid.blackred {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#ff7766', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#333), to(#ff7766));
  background: -moz-linear-gradient(left,  #333,  #ff7766);
}
.Hybrid.blackgreen {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#448833', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#333), to(#483));
  background: -moz-linear-gradient(left,  #333,  #483);
}
.Hybrid.redgreen {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7766', endColorstr='#448833', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ff7766), to(#483));
  background: -moz-linear-gradient(left,  #ff7766,  #483);
}
.Hybrid.whitered { /* actually red>white */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7766', endColorstr='#fcf9f0', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#ff7766), to(#fcf9f0));
  background: -moz-linear-gradient(left,  #f76,  #fcf9f0);
}
.Hybrid.bluegreen {  /* actually green->blue */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#448833', endColorstr='#55bbff', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#483), to(#5bf));
  background: -moz-linear-gradient(left,  #483,  #5bf);
}
.Hybrid.whitegreen { /* actually green->white */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#448833', endColorstr='#fcf9f0', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#483), to(#fcf9f0));
  background: -moz-linear-gradient(left,  #483,  #fcf9f0);
}


/***** Card editing *****/

.flavourtextfield { font-style: italic;
                  width: 98%; }
.rulestextfield { width: 98%; }
.art_url_field  { width: 98%; }
.image_url_field  { width: 400px; }


/**** LINK-tag style sheet Multiverse.css?1291160921 ****/

/***** Site layout *****/

a > img { border: 0px; }

.flash  { margin-left: 2px; width: 50%; }
.error  { color: #600; background-color: #f99; border: 1px solid #600; }
.notice { color: #00a; background-color: #bbf; border: 1px solid #00a; }

.infobox { float: right;
           border: 2px solid #aaa;
           margin-right: 10px;
           padding-left: 2px;
           padding-right: 2px;
           padding-top: 6px;
           padding-bottom: 6px;
           background-color: #eee;
           position: relative; /* to stop interference from dropdown */
           }
.infobox h1 { font-size: inherit;
              margin-top: 0px; }
.infobox p { margin: 2px; }

.cardcell { vertical-align: top;
            padding-top: 10px; }

.card_controls_below { text-align: center; }

.setviews { border: 1px solid #aaa;
            margin: 2px;
            padding: 6px;
            background-color: #eee; }

.comment_cell { width: 19%;
            vertical-align: top; }

/***** Comment display *****/

.commentdetails { font-style: italic; margin: 0px; line-height: 2em; }
.commentbody    { margin-top: 0px; }

.commentlist    { margin-right: 60px; }

.compact p.commentbody { margin-bottom: 0px; }

li.recent_item { border-top: 1px solid black;
                 list-style: none;
                 margin-left: none;}

.comment.unaddressed { background-color: #fcc; }
.comment.highlighted { background-color: #ff9; }

.commentdetails img { vertical-align: middle; }
.commentdetails input { vertical-align: middle; }

form { display: inline; }

textarea#comment_body { height: 8em; width: 500px; }

ul.commentlist { margin-left: 20px; }

.commentbody > p { margin-top: 0px; }

#formatting_info { margin-top: 2px; margin-bottom: 6px; }

/***** Data import / export *****/

code { background-color: #eee; }
input#separator       { width: 2em; }
input#formatting_line { width: 600px; }
textarea#import_data  { width: 600px; height: 15em; }

p.plaintext_wrapper { white-space: pre;
                      font-family: monospace;
                      width: 600px; }

/***** Cardset details pages *****/

textarea#details_page_body { width: 1024px; height: 30em; }
.image_submit { vertical-align: middle; }

/***** Cardset configuration *****/

div.helptext { font-size: smaller; margin: 0px; color: #888; }
div.config_section { margin: 4px; }
input#cardset_description { width: 30em; }

/***** Card display *****/

.cardtabs {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cardtabs li {
  position: relative;
  float: left;
}
.cardtabs a {
  float: left;
  padding: 5px 8px;
  /* margin-right: 6px; */
  border: 1px solid #aaa;
  border-width: 1px 1px 0 1px;
  text-decoration: none;
  color: #000;
}
.cardtabs a:hover {
  background-color: #666;
  color: #FFF;
}
.cardtabs a.active-tab {
  background-color: #aaa;
  color: #000;
}
.onetab {
  display: none;
  clear: both;
}
.onetab.active-tab-body {
  display: block;
  clear: both;
}
.timestamp {
  font-size: smaller;
  font-style: italic;
  color: #999;
}


/**** LINK-tag style sheet custom.css?1290461042 ****/

/* Navigation */

nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}
/*#nav{
  position:relative;
  width:820px;
  list-style:none;
  margin:0 auto;
  padding:0;
  list-style:none;
  font-size:1em;
}*/

/*nav ul {
  margin: 0;
  padding: 0;
}*/

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0em;
  vertical-align: top;
}

nav ul li.subsequent:before
{
  content: "| ";
  padding: 0px;
  margin: 0px;
}

nav a {
  font-weight: bold;
  color: #09c;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
}
nav a:visited {
  color: #09c;
}
ul.licious a{
  position:relative;
  z-index:999;
  font-weight:bold;
  margin:0;
  /*background:none;*/
  display:block;
  text-decoration:none;
  padding:5px;
  background:#f3f3f3;
  text-shadow:none;
}

nav a:hover {
  text-decoration: underline;
  color: #fff;
  background: #000;
}
ul.licious a:hover{
  position:relative;
  /*background:none;*/
}

li.drops_parent {
  text-align: right;
}

a.drops {
}

ul.licious {
  text-align:left;
  width:150px;
  /* font-size:.8em; */
  background:#444;
  margin:0;
  padding:0;
  position: relative;
    position:absolute;
  left:0px;
  /*top:28px;*/
}
/* ie
html>body ul.licious{
  position:absolute;
  top:18px;
} */

ul.licious li {
  position:relative;
  /* display: block;*/
  display:inline;
  margin:0;
  padding:0;
}


/**** LINK-tag style sheet scaffold.css?1287007900 ****/

body {
  background-color: #fff;
  color: #333;
  margin: 0px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

br {
  line-height: 13px;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

textarea {
  height: 6em;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


/**** LINK-tag style sheet tablekit.css?1289688792 ****/

.panel {
  clear: both;
  display: none;
  border: 3px solid #00adef;
  padding: 1em;
  background-color: #FFF;
  margin: 0;
}
.panel.active-tab-body {
  display: block;
}
/*
#tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}
#tabs li {
  position: relative;
  float: left;
}
#tabs a {
  float: left;
  padding: 5px 8px;
  margin-right: 6px;
  border: 1px solid #00adef;
  border-width: 1px 1px 0 1px;
  text-decoration: none;
  color: #000;
}
#tabs a:hover {
  background-color: #8dd8f8;
  color: #FFF;
}
#tabs a.active-tab {
  background-color: #00adef;
  color: #FFF;
}
*/
table.sortable {
  border-collapse: collapse;
  table-layout: fixed;
}

table.sortable td, table.sortable th {
  padding: 0.5em;
  border: 1px solid #CCC;
  /*white-space: nowrap;
  overflow: hidden;*/
}

/*th {
   white-space: pre;
}*/

thead, tfoot {
  background-color: #DDD;
}

tr.rowodd {
  background-color: #FFF;
}

tr.roweven {
  background-color: #F2F2F2;
}

.sortcol {
  cursor: pointer;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}
.sortasc {
  background-color: #DDFFAC;
  background-image: url(up.gif);
}
.sortdesc {
  background-color: #B9DDFF;
  background-image: url(down.gif);
}
.nosort {
  cursor: default;
}

th.resize-handle-active {
  cursor: e-resize;
}

div.resize-handle {
  cursor: e-resize;
  width: 2px;
  border-right: 1px dashed #1E90FF;
  position:absolute;
  top:0;
  left:0;
}


