<footer>
<nav>
<ul>
<li class="first"><%= link_to "Home", root_path %></li>
<li class="subsequent"><%= link_to "About Multiverse", about_path %></li>
<li class="subsequent"><%= link_to "Help", help_path %></li>
<li class="subsequent"><%= link_to "Feedback", contact_path %></li>
</ul>
</nav>
</footer>
