<!DOCTYPE html>
<html>
<head>
  <title>Multiverse</title>
  <%= stylesheet_link_tag :all %>
  <!-- link rel="stylesheet" type="text/css" href="Cardset.css" / -->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
